<!DOCTYPE html>
<html>
<head>
  <title>Create New Story</title>
</head>
<body>

  <link rel="stylesheet" href="/style.css">

<div class="container">

  <h1>Create New Story</h1>

  <form action="/stories" method="POST">
    <input
      type="text"
      name="title"
      placeholder="Story title"
      required
    />

    <br /><br />

    <button type="submit">Create</button>
  </form>

  <br />
  <a href="/">← Back</a>

</div>


</body>
</html>
